@font-face {
  font-family: 'HeaderFont';
  src: url('images/fonts/Wintertale.woff2') format('woff2'),
       url('images/fonts/Wintertale.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'HeaderFont';
  src: local('Arial');
  unicode-range: U+0030-0039, U+0025, U+002E, U+002C;
}

@font-face {
  font-family: 'BodyFont';
  src: url('images/fonts/Poppins-thin.woff2') format('woff2'),
       url('images/fonts/Poppins-thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
